body,html{
    background-image:url('../pic/background.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    min-width: min-content;
  }

  .form-control {
    background-color: rgba(225, 225, 225, 0.3); 
    border: 4px;
    border-radius: 4px;
    /* padding: 8px 16px; */
    margin-bottom: 10px;
    font-size:20px;
    color: #444;
    font-family:serif;

  }
  
  .form-control:focus {
    border: none;
    outline: none;
    background-color: rgba(225, 225, 225, 0.3);
  }
  
  label {
    color:#fff;
    display: block;
    font-size: 16px;
    font-family:serif;
    margin-bottom: 8px;
  }
  
  .btn {
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: #fff;
    width: 90px;
    cursor: pointer;
    font-size: 16px;
    font-family:serif;
    padding: 10px 16px;
    transition: background-color 0.3s ease;
  }
  #register{
    margin-right: 80px;
  }
  
  .btn:hover {
    background-color: #555;
  }

  h1{
    color: #fff;
    font-family:sans-seriff;
  }